* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
}

section {
    margin: 0 auto;
}

.w-60 {
    width: 60%;
    margin: 0 auto;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.vertical-align {
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    display: inline;
    padding: 5px 20px;
}


.blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

.white {
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.section-title {
    color: black;
    font-size: 20px;
}


h2 {
    padding-bottom: 30px;
    font-size: 50px;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;

}

h4 {
    padding-bottom: 10px;

}





/* /common */


/* header  */

header {
    height: 80px;
}

.menu-left, .menu-right {
    width: 30%;
    height: 100%;
    text-align: center;
    line-height: 80px;
}

#logo {
    width: 30%;
    height: 100%;
}

nav {
    width: 70%;
    height: 100%;
}

.start {
    width: 30%;
    height: 100%;
}

header nav li {
    display: inline;
    padding: 10px 15px;
    text-decoration: none;
}

header a {
    color: black;
    text-decoration: none;
}


/* /header  */

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 850px;
    background-color: rgb(180, 208, 231);
    margin-bottom: 200px;
}

.jumbotron h1 {
    padding: 30px 0;
    font-size: 90px;
}

.jumbo-left {
    width: 30%;
    padding: 20px 0;
}

.jumbo-right {
    width: 70%;
    height: 660px;
}

.jumbotron a {
    text-decoration: none;
}

.jumbo-left div {
    padding: 0 0 20px 0;
}

.jumbotron img {
    width: 100%;
    height: 100%;
}

.jumbotron i {
    font-size: 50px;
}


/* /jumbotron */

/* main */

.radio {
     padding-left: 10px;
     padding-bottom: 30px;
}


.col {
    border: 1px solid lightgrey;
    margin: 20px 10px;
}


.col-sup {
    width: calc((100% / 3) - 20px);
    height: 900px;
    padding: 20px;
}


.col-title {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
}


.col-section {
    width: 100%;
    padding: 20px 0;
}



.col-section p {
    padding-left: 10px;
    padding-bottom: 10px;
    color: lightgrey;
}

.col-section .space-content {
    padding: 20px 0;
}

.col-section a {
    text-decoration: none;
}


.col-section ul li {
    list-style-position: inside;
    list-style: none;
    padding-bottom: 10px;
}

.col-section li::before{
    content: '✓';
    color: rgb(0, 97, 255);
    margin-right: 5px;
}

.col-bot {
    width: 100%;
}

.col-bot-right {
    width: 70%;
    padding: 30px;
}

.col-bot-left {
    width: 30%;
    padding: 30px;
}

.col-bot-right p { 
    padding: 10px;
}

.col-bot-left a {
    text-decoration: none;
}

.partner {
    width: 50%;
    padding: 20px;
}

.partner img {
    width: 100%;
}

.partner p {
    padding: 30px 0;
}

.row {
    width: 100%;
}

.row div {
    float: left;
    width: calc(100% / 3);
    padding: 20px;

}

.row img {
    width: 100%;
}

.row a {
    color: black;
}

.background {
    background-color: rgb(180, 208, 231);
}

.content {
    width: 100%;
}

.content > div {
    width: calc(100% / 3);
}

.content-side {
    background-color: rgb(13, 36, 129);
}

.content-side div {
    float: left;
    position: relative;
    width: 50%;
    height: 15vw;
}

.content-side img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    filter:invert(1);
    padding: 30px;
}

.content-center {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    height: 30vw;
}

.content-center div {
    padding: 30px 0;
}

.content-bottom {
    margin: 0 auto;
    margin-top: 50px;
    padding: 30px 0;
}

.content-bottom div {
    width: calc(100% / 2);

}


.content-bottom h2 {
    width: 80%;
    color: brown;
}





#designit {
    background-color: rgb(208, 233, 205);
}


#arizona {
    background-color: rgb(97, 8, 43);
}

#florida {
    background-color: rgb(0, 147, 206);
}

#topps {
    background-color: rgb(255, 28, 28);
}

#world-bicycle {
    background-color: rgb(255, 28, 28);
}

#hearst-corp {
    background-color: rgb(180, 208, 231);
}

#lonely-planet {
    background-color: rgb(13, 36, 129);
}

#clear-channel {
    background-color: rgb(255, 216, 48);
}







/* /main */


/* debug */

/* .debug .w-100 {
    height: 80px;
    background-color: red;
} */

/* .debug .menu-left, .menu-right {
    width: 30%;
    height: 100%;
    background-color: blue;
    text-align: center;
    line-height: 80px;
} */

/* .debug #logo {
    width: 30%;
    height: 100%;
    background-color: yellow;
}

.debug nav {
    width: 70%;
    height: 100%;
    background-color: pink;
}

.debug .start {
    width: 30%;
    height: 100%;
    background-color: purple;
}

.debug h1 {
    background-color: khaki;
    padding: 30px 0;
    font-size: 90px;
}

.debug .jumbo-left {
    width: 40%;
    padding: 20px 0;
    background-color: lawngreen;
}

.debug .jumbo-right {
    width: 60%;
    height: 600px;
    background-color: lightcoral;
} */



/* .debug h2 {
    background-color: brown;
    padding-bottom: 30px;
} */



/* .debug .col-sup {
    width: calc(100% / 3);
    height: 700px;
    background-color: red;
    padding: 20px 20px;
} */

/* .debug .col-bot {
    width: 100%;
    background-color: yellow;
} */

/* .debug .col-title {
    width: 100%;
    text-align: center ;
    background-color: blue;
} */



/* /debug */


