* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    margin: 0 auto;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.vertical-align {
    vertical-align: middle;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn {
    display: inline;
    padding: 5px 20px;
}

.blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

nav a:hover {
    border-bottom: 1px solid black;
}

.section-title {
    color: black;
    font-size: 20px;
}

/* /common */


/* header  */

header {
    height: 80px;
}

.menu-left, .menu-right {
    width: 30%;
    height: 100%;
    text-align: center;
    line-height: 80px;
}

#logo {
    width: 30%;
    height: 100%;
}

nav {
    width: 70%;
    height: 100%;
}

.start {
    width: 30%;
    height: 100%;
}

header nav li {
    display: inline;
    padding: 10px 15px;
    text-decoration: none;
}

header a {
    color: black;
    text-decoration: none;
}


/* /header  */

/* jumbotron */

.jumbotron {
    width: 100%;
    height: 850px;
    background-color: rgb(180, 208, 231);
    margin-bottom: 200px;
}

.jumbotron h1 {
    padding: 30px 0;
    font-size: 90px;
}

.jumbo-left {
    width: 30%;
    padding: 20px 0;
}

.jumbo-right {
    width: 70%;
    height: 660px;
}

.jumbotron a {
    text-decoration: none;
}

.jumbo-left div {
    padding: 0 0 20px 0;
}

.jumbotron img {
    width: 100%;
    height: 100%;
}

.jumbotron i {
    font-size: 50px;
}


/* /jumbotron */



/* debug */

/* .debug .w-100 {
    height: 80px;
    background-color: red;
} */

/* .debug .menu-left, .menu-right {
    width: 30%;
    height: 100%;
    background-color: blue;
    text-align: center;
    line-height: 80px;
} */

/* .debug #logo {
    width: 30%;
    height: 100%;
    background-color: yellow;
}

.debug nav {
    width: 70%;
    height: 100%;
    background-color: pink;
}

.debug .start {
    width: 30%;
    height: 100%;
    background-color: purple;
}

.debug h1 {
    background-color: khaki;
    padding: 30px 0;
    font-size: 90px;
}

.debug .jumbo-left {
    width: 40%;
    padding: 20px 0;
    background-color: lawngreen;
}

.debug .jumbo-right {
    width: 60%;
    height: 600px;
    background-color: lightcoral;
} */



.debug h2 {
    background-color: brown;
    padding-bottom: 30px;
}

.debug .container {
    background-color: chartreuse;
}

.debug .col {
    border: 1px solid black;
}

.debug .col-sup {
    float: left;
    width: calc(100% / 3);
    background-color: red;
}

.debug .col-bot {
    width: 100%;
    background-color: yellow;
}



/* /debug */


